
@{
    ViewBag.Title = "AdminHome";
}

<h2>Home</h2>

<div class="row">
    <div class="col-md-3">
        <form action="AdminUserControl.cshtml">
            <input type="submit" value="User Control" formaction="AdminUserControl" />
        </form>
    </div>
    <div class="col-md-3">
        <form action="AdminCourses.cshtml">
            <input type="submit" value="Courses" formaction="AdminCourses" />
        </form>
    </div>
</div>
