@model Mooshak2.DAL.AspNetUser

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.UserName)</h2>

<div>
    <h4>Details</h4>
    <hr />
    
    <div class="ass-detail">

        <p class="ass-l">
            <label class="ass-l">Email:  </label>
        </p>

        <p class="ass-p">
            @Html.DisplayFor(model => model.Email)
        </p>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
